/* RESET CSS MATERIALIZE */
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/font/material-icons.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: unset !important;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.preloader-wrapper.active {
    display: block;
    margin: 50px auto;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Overpass",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    color: #525f65;
}



#navbar {
    background-color: blueviolet;
}

h1, h2, h3, h4, h5, h6, p {
    word-break: break-word;
    margin-top: 0;
}

h1, h2, h3 {
    font-weight: 700;
}

a {
    color: #f9a825;
}

main {
    min-height: 100vh;
}

.logo-sidenav {
    margin: 20px auto;
    min-height: 100px;
}

.logo-sidenav a{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-sidenav img {
    padding: 10px 0;
    max-height: 100px;
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center center;
    object-position: center center;
}

.sidenav li>a {
    font-size: 20px;
    text-align: center;
    color: navy;
}

.site-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.banner {
    position: relative;
    min-height: calc(250px + 2vw);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
    background: url(../movie-outline.svg) 75% 15% no-repeat fixed;
    background-size: auto 250px, cover;
}

.banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 82, 158, 0.651);
}

.banner .container {
    position: relative;
    z-index: 2;
}


.banner h1 {
    font-size: calc(35px + 2vw);
    font-weight: 900;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
}

.banner p {
    color: #dce6ea;
}